# --- Production environment template
# copy to .env, remove unused lines and fill in the actual values

# --- Dev

DOMAIN_NAME=localhost
EMAIL_ADDRESS=mail@example.com
VUE_APP_BACKEND_SOLVER_URL=http://localhost:8000/

# --- Prod

#DOMAIN_NAME=cutsolver.modisch.me
#EMAIL_ADDRESS=modisch.fabrications@gmail.com
## VUE_APP_BACKEND_SOLVER_URL is set automatically in docker-compose.prod.yml
