{
    email {$EMAIL_ADDRESS}
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory

    admin off
    log {
        format console
    }
}

{$DOMAIN_NAME} {
    respond /ping "pong at {$DOMAIN_NAME}"
    
    # API paths -> backend
    @api path /solve* /version* /constants* /settings* /debug* /docs* /redoc* /openapi.json*
    reverse_proxy @api cutsolver
    
    # Everything else -> frontend
    reverse_proxy / cutsolver_frontend
}

# This could be managed by DNS!

# remove once everyone forgot about it
vps.modisch.me {
    redir /cutsolver https://{$DOMAIN_NAME} permanent
}
